extends ../layout/default.pug

block page-variables
  - var PageName = "About"
  - var PageID = 'about-us';

block stylesheets

block content
  main
    .page-hero
      .container
        .row.middle-xs
          h1.col-sm.title protoplate
          .col-sm.description Plating pug's since they were a bluish-green color.


    .container-narrow
      section.m-vertical--md

        h3 What can I do with it?
        .description Break it, fix it, contribute to it, or you could just ignore it and do it yourself.
        hr
        h3 How can I use this to enhance my workflow?
        .description Take what I've given you, and make it into something that'll make you work faster and better.
        hr
        h3 Cool I hear that, how do I get started?
        ol
          li Install Node / NPM
          li Clone this repository
          li
            code $ npm install
          li
            code $ gulp

block scripts
  script.

