block site-variables
  - var SiteName = "Protoplate"

block page-variables
  - var PageName = "Home"
  - var PageID = 'home';

doctype html
html(lang="en", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    title= PageName + ' / ' + SiteName

    link(rel="icon", type="image/png", href="img/favicon.png")

    include stylesheets.pug
    block stylesheets

  body

    .page-wrapper
      include ../components/header.pug
      .page-content
        block left-sidebar
        block content
        block right-sidebar
      include ../components/footer.pug

    include scripts.pug
    block scripts
