header {
	//background:$header-bg;
	//color:$header-color;
	//height:$header-height;
	display:flex;
	align-items:center;

	.container {
		display:flex;
	}
	svg {
		width: 40px;
		height:40px;
		margin-right:$gap-sm;
		opacity:0.5;
	}
}

.primary-nav {
	@media (max-width:$screen-sm-min) {
		display:none;
	}
	@media (min-width:$screen-sm) {
		display:flex;
		align-items:center;
		margin-left:auto;
	}
	a {
		//color:$header-color;
		align-items:center;
		fill:currentColor;
		transition:all 0.15s;
		display:flex;
		align-items:center;
		//height:$header-height;
		padding:0 ($gap-sm + $gap-xs);
		font-weight:500;
		&:hover,&:focus {
			//background:darken($header-bg,5%);
			//color:$header-color;
			svg {
				opacity:1;
			}
		}
		&:hover,&:focus,&:active {
			text-decoration:none;
		}
		&:active {
			//background:darken($header-bg,15%);
		}
	}
}

.site-name {
	display:flex;
	align-items:center;
	font-size:24px;
	text-transform:uppercase;
	//color:white;
	&:hover,&:focus,&:active {
		text-decoration:none;
		color:white;
	}
}
