.page-hero {
	padding-top:$gap;
	padding-bottom:$gap-lg;
	.title {
		font-size:66px;
		//text-transform:uppercase;
		font-weight:700;
		margin:0;
	}
	.description {
		text-align:right;
		max-width:220px;
		color:rgba(black,0.5);
	}

}
.page-wrapper {
	padding:0;
	display:flex;
	min-height:100vh;
	flex-direction:column;
}
.page-content {
	@media (max-width:$screen-sm-min) {
		flex-wrap:wrap;
	}
	@media (min-width:$screen-sm) {
		flex:1;
		display:flex;
	}
	main {
		width:100%;
	}
	.sidebar {
		nav {
			display:flex;
			flex-direction:column;
			.nav-heading {
				@include font-semibold;
				margin-bottom:$gap-sm;
			}
			> a {
				padding:$gap-xs;
			}
		}
		&.left {
			@media (min-width:$screen-sm) {
				margin-right:$gap-lg;
				min-width:200px;

			}
		}
	}
}

.container,.container-narrow {
	width:100%;
	padding:0 $gap;
	margin:0 auto;
}
.container {
	max-width:$max-content-width + $gap;
}
.container-narrow {
	max-width:$max-content-width - ($gap-lg * 2);
}

h1,h2,h3,h4,h5,h6 {
	margin:0 0 $gap-sm;
	padding:0;
}
h2 {
	font-size:24px;
}
h3 {
	font-size:18px;
}
h4 {
	font-size:16px;
}

.page-header {
	margin-bottom:$gap;
	.title {
		font-size:32px;
		@include font-light;
	}
	.description {
		font-size:14px;
		@include font-regular;
		color:rgba($text-color,0.8);
		margin:0;
	}
}

.section-header {
	margin-top:$gap-md;
	border-top:2px solid $border-lt;
	padding-top:$gap;
	.title {
		color:$brand-primary;
	}
	.description {
		margin:0;
		font-size:14px;
	}
}

[class*="flex"] {
	> div {
		flex:1;
	}
	&[class*="-all"] {
		display:flex;
	}
	&[class*="-sm"] {
		@media (min-width:$screen-sm) {
			display:flex;
		}
	}
	&[class*="-md"] {
		@media (min-width:$screen-md) {
			display:flex;
		}
	}
	&[class*="-lg"] {
		@media (min-width:$screen-lg) {
			display:flex;
		}
	}
	&.gutter-sm {
		margin-left:-($gap);
		margin-right:-($gap);
		> div {
			margin-left:$gap-sm;
			margin-right:$gap-sm;
			//margin:0 $gap-xs;
		}
	}
	&.gutter-md {
		margin-left:(-($gap-md));
		margin-right:(-($gap-md));
		padding-left:($gap-md / 2);
		padding-right:($gap-md / 2);
		> div {
			margin:0 $gap-sm;
		}
	}
	&.gutter-lg {
		margin-left:(-($gap-lg));
		margin-right:(-($gap-lg));
		padding-left:($gap-lg / 2);
		padding-right:($gap-lg / 2);
		> div {
			margin:0 $gap;
		}
	}
}


.border {
	border:1px solid #eee;
	padding:$gap-sm;
}

.justify-space-between-all {
	justify-content:space-between;
	> div {
		flex:none;
	}
}

.justify-space-around-all {
	justify-content:space-around;
	> div {
		flex:none;
	}
}

.wrap-all {
	flex-wrap:wrap;
}
