.container,.container-narrow {
  width:100%;
  padding:0 $gap;
  margin:0 auto;
}
.container {
  max-width:$max-content-width + $gap;
}
.container-narrow {
  max-width:$max-content-width - ($gap-lg * 2);
}

.page-wrapper {
  padding:0;
  display:flex;
  min-height:100vh;
  flex-direction:column;
}
.page-content {
  @media (max-width:$screen-sm-min) {
    flex-wrap:wrap;
  }
  @media (min-width:$screen-sm) {
    flex:1;
    display:flex;
  }
  main {
    width:100%;
  }
  .sidebar {
    nav {
      display:flex;
      flex-direction:column;
      .nav-heading {
        @include font-semibold;
        margin-bottom:$gap-sm;
      }
      > a {
        padding:$gap-xs;
      }
    }
    &.left {
      @media (min-width:$screen-sm) {
        margin-right:$gap-lg;
        min-width:200px;
      }
    }
  }
}
.page-header {
  margin-bottom:$gap;
  .title {
    font-size:32px;
    @include font-light;
  }
  .description {
    font-size:14px;
    @include font-regular;
    color:rgba($text-color,0.8);
    margin:0;
  }
}

.section-header {
  margin-top:$gap-md;
  border-top:2px solid $border-lt;
  padding-top:$gap;
  .title {
    color:$brand-primary;
  }
  .description {
    margin:0;
    font-size:14px;
  }
}
